@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Josefin+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background: linear-gradient(#baa5d7, #e06c6f);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  font-size: large;
}

.main {
  width: 30%;
}

.options {
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px 30px;
  color: #988baa;
  font-size: 25px;
}

/* progress container starts */
.progress-cont {
  width: 35%;
  display: flex;
  height: 6vh;
  justify-content: space-around;
  align-items: center;
}

.prog-item {
  background: #ccbeef;
  height: 5px;
  width: 16%;
  border-radius: 5px;
}

.dark-prog-item {
  background: #685ca4;
}
/* progress container ends */

/* form container starts */
.form-cont {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  height: 70vh;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 16px;
  padding: 1.4rem;
  color: #685ca4;
  font-size: 30px;
}

.form-content > h2 {
  color: #988baa;
}
.form-content > h3 {
  color: #685ca4;
  font-size: 20px;
}

/* form container ends */

/* slider starts */
.slidecontainer {
  width: 100%; /* Width of the outside container */
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}
/* slider ends */

/* next button starts */
.next-btn {
  width: 100%;
  margin: 20px 0;
  outline: none;
  border: none;
  border-radius: 2rem;
  height: 2rem;
  background: #685ca4;
  color: #efedf5;
}

/* next button ends */
